.homeContainer{
    
    /* background: linear-gradient(to right, #958db3, #f0eff3,#958db3);
border-top-width: 1px;
box-shadow: 0 0 50px #270F8C;
border-radius: 8px; */

    
    /* background:  #120743; */
}