:root{
    /* colors */
    /* --color-text:#fff;
    --color-primary:#ff2525;
    --color-secondary:#cf6262;
    --color-dark:#307457;
    --color-bg:#99c5b2; */

    /* fonts */

    --font-roboto:"Roboto";
}